html,
body {
  margin: 0;
  padding: 0;
}

.slider {
  $root: &;
  position: relative;
  overflow: hidden;
  // opacity: 0;
  transition: opacity 1s ease;
  box-sizing: border-box;

  figure {
    margin: 0;
  }

  img {
    display: block;
    width: auto;
    pointer-events: none;
    margin: 0 auto;
  }

  &#{$root}--disabled {
    --gap: unset !important;
    --slidesCount: unset !important;
    --slidesToShow: unset !important;
    --parentWidth: unset !important;
    --parentHeight: unset !important;
    --trackWidth: unset !important;
    --trackHeight: unset !important;

    & #{$root}__list {
      transform: unset !important;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > * {
        display: flex;
        flex: 1 1 50%;
        padding: 1vw;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &:not(#{$root}--disabled) {
    position: relative;
    background: #eee;
    margin: 50px auto;
    opacity: 0;
    transition: opacity 0.25s ease;

    & #{$root}__region {
      position: relative;
      overflow-x: visible;
      height: 100%;
      width: 100%;

      > ol,
      > ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }

    & #{$root}__list {
      display: flex;
      gap: var(--gap);
      width: calc(var(--trackWidth) + (var(--gap) * (var(--slidesCount) - 1)));
      transform: trabslate3d(var(--transformX), var(--transforY), 0);
      will-change: transform;
      backface-visibility: hidden;
      // contain: paint; // TODO
      // justify-content: space-between;
      // transition: opacity 0.25s ease;

      > * {
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        // background: #aaa;
        // height: 300px;
        height: auto;
        position: relative;
        flex: 0 0 calc(var(--parentWidth) / var(--slidesToShow) - var(--gap) + (var(--gap) / var(--slidesToShow)));
        overflow: hidden;

        &::after {
          content: attr(data-index);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 5vw;
        }

        img {
          width: 100%;
          object-fit: cover;
          // transform: translate3d(0,0,0);
          // backface-visibility: hidden;
          // visibility: hidden;
          // display: none;
        }

        & > *,
        & :is(figure, picture, img) {
          height: 100%;
          width: 100%;

          // #{$root}--variable-width & {
          //   width: auto;
          // }
        }
      }
    }

    & #{$root}__dots {
      $root-dots: &;
      
      position: relative;
      display: flex;
      list-style: none;
      padding: 10px;
      margin: 0;
      justify-content: center;
      transform: translate3d(0px, 0px, 0px);
      backface-visibility: hidden;
      user-select: none;

      &-item {
        cursor: pointer;
        height: 20px;
        width: 20px;
        position: relative;
        overflow: hidden;
        // pointer-events: none; // Todo

        button {
          height: 100%;
          width: 100%;
          display: block;
          padding: 0;
          transition: opacity 0.25s ease;
          background-color: #333;
          border-radius: 100%;
          border: 0;
          outline: none;
          font-size: 0;
          line-height: 0;
          opacity: 0.5;
          cursor: pointer;
          
          &:hover {
            opacity: 1;
          }
        }

        &--current {
          button {
            opacity: 1;
          }
        }

        // dragger
        // flex: 0 0 calc(var(--parentWidth) / var(--slidesCount));
      }

      &-bar {
        position: absolute !important;
        width: 100%;
        background: red;
        height: 100%;
        opacity: 0.5;
        top: 0;
        pointer-events: none;

        &-dragger {
          height: 100%;
          background: green;
          pointer-events: all;
        }
      }

      &--type-simple {
        #{$root}__dots-item {
          button {
            padding: 5px;
            background-clip: content-box;
          }
        }
      }

      &--type-dragger {
        #{$root}__dots-item {
          flex: 0 0 calc(var(--parentWidth) / var(--slidesCount));
        }
      }
    }

    & #{$root}__arrows {
      $root-arrow: &;
      
      &-item {        
        position: absolute;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        transition: opacity 0.25s ease, transform 0.25s ease;
        pointer-events: all;
        cursor: pointer;

        &--prev {          
          left: 0;

          &#{$root}__arrows-item--disabled {
            transform: translate(-100%, -50%);
          }
        }

        &--next {
          right: 0;
          
          &#{$root}__arrows-item--disabled {
            transform: translate(100%, -50%);
          }
        }

        &--disabled {
          opacity: 0;
          pointer-events: none;
        }

        button {
          height: 100%;
          width: 100%;
          display: block;
          padding: 20px;
          transition: opacity 0.25s ease;
          color: #fff;
          background-color: #333;
          border: 0;
          outline: none;
          opacity: 0.5;
          cursor: pointer;

          @media (hover: hover) and (pointer: fine) {
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    &#{$root}--is-mounted {
      opacity: 1;
    }
    
    &#{$root}--vertical {
      & #{$root}__region {
        position: relative;
        overflow-x: hidden;
        overflow-y: visible;
      }

      & #{$root}__list {
        flex-direction: column;
        width: 100%;
        height: calc(var(--trackHeight) + (var(--gap) * (var(--slidesCount) - 1)));

        > * {
          flex: 0 0 calc(var(--parentHeight) / var(--slidesToShow) - var(--gap) + (var(--gap) / var(--slidesToShow)));
        }
      }

      & #{$root}__arrows {
        $root-arrow: &;
      
        &-item {
          top: auto;
          left: 50%;
          transform: translate3d(-50%, 0, 0);

          &--prev {
            top: 0;

            &#{$root}__arrows-item--disabled {
              transform: translate(-50%, -100%);
            }
          }

          &--next {
            right: auto;
            bottom: 0;
            
            &#{$root}__arrows-item--disabled {
              transform: translate(-50%, 100%);
            }
          }
        }
      }
    }

    &#{$root}--variable-width,
    &#{$root}--variable-height {
      & #{$root}__region {
        width: auto;
      }

      & #{$root}__list > * {
        flex: none;
        flex-basis: max-content;

        > * {
          height: 100%;
          width: 100%;
        }
      }
    }

    &#{$root}--center-slides {
      & #{$root}__list {
        margin: 0 auto;
      }
    }

    &#{$root}--rtl {
      & #{$root}__arrows {
        &-item {        
          &--prev {
            left: unset;        
            right: 0;

            &#{$root}__arrows-item--disabled {
              transform: translate(100%, -50%);
            }
          }

          &--next {
            right: unset;
            left: 0;
            
            &#{$root}__arrows-item--disabled {
              transform: translate(-100%, -50%);
            }
          }
        }
      }
    }

    &#{$root}--overflow {
      overflow: visible;
    }
  }

  *:focus {
    outline: none;
  }
}
