# Logs
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# CI
.pnpm-store
.mise

# mac os
.DS_Store

# bundles
*.bundle.js
*.min.js
*.es.js
*.cjs.js

dist

.turbo
.task

# a11y test reports
.reports

# rust
target

stats.html

# docs built
public

# for audits
yarn.lock

.publish
.notify
