# Logs
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# CI
.pnpm-store
.rtx

# mac os
.DS_Store

# bundles
*.bundle.js
*.min.js
*.es.js
*.cjs.js

dist
public

.turbo

# configs
!.rtx.toml
