include:
  - component: $CI_SERVER_FQDN/sv/taskfiles/mise@2.1.0

stages:
  - test
  - merge
  - docs
  - publish

image: luckydye/atrium:latest

variables:
  GIT_PUSH_TOKEN: $GIT_PUSH_TOKEN # A Gitlab access token to push to the repo

check:
  stage: test
  except:
    - tags
  only:
    - merge_requests
    - main
  script: task check

test:
  stage: test
  except:
    - tags
  only:
    - merge_requests
    - main
  script: task test

publish-dev:
  stage: publish
  when: manual
  only:
    - merge_requests
  script:
    - git config user.email "gitlab@s-v.de"
    - git config user.name "CI"
    - git remote set-url origin https://oauth2:$GIT_PUSH_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git
    - bun x npm config set //gitlab.s-v.de/api/v4/projects/1560/packages/npm/:_authToken="$CI_JOB_TOKEN"
    - bun x npm config list
    - task prerelease
    - git push origin -o ci.skip HEAD:$CI_COMMIT_REF_NAME
    - git push origin --tags

publish:
  stage: publish
  allow_failure: true
  rules:
    - if: $CI_COMMIT_REF_NAME == "main"
      when: on_success
    - when: never
  script:
    - git config user.email "gitlab@s-v.de"
    - git config user.name "CI"
    - git remote set-url origin https://oauth2:$GIT_PUSH_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git
    - bun x npm config set //gitlab.s-v.de/api/v4/projects/1560/packages/npm/:_authToken="$CI_JOB_TOKEN"
    - bun x npm config list
    - task release
    - git push origin -o ci.skip HEAD:$CI_COMMIT_REF_NAME
    - git push origin --tags

pages:
  stage: docs
  when: manual
  only:
    - main
    - merge_requests
  environment:
    name: docs
    url: https://svp.pages.s-v.de/atrium
  artifacts:
    paths:
      - public
  script: SITE="https://svp.pages.s-v.de/atrium" task docs:build -- --base /atrium/
