@svp:registry=https://${CI_SERVER_HOST}/api/v4/projects/1560/packages/npm/
@sv:registry=https://${CI_SERVER_HOST}/api/v4/projects/1560/packages/npm/
//${CI_SERVER_HOST}/api/v4/projects/1560/packages/npm/:_authToken=${CI_JOB_TOKEN}
