auto-install-peers=true
# strict-peer-dependencies=false

@sv-components:registry=https://gitlab.s-v.de/api/v4/projects/1456/packages/npm/
//gitlab.s-v.de/api/v4/projects/1456/packages/npm/:_authToken=glpat-FMDSCh9zyLK4vS6kd4JB
