# mac os
**/.DS_Store

# git
.git
.gitignore

# app
**/public
apps/**
docs
test
examples
**/*.spec.test

vite.config.ts
.task
.vscode
.turbo
.eslintrc
.eslintrc.json
.editorconfig
.prettierrc
.npmrc
commitlint.config.js
.github
.config
pnpm-workspace.yaml
turbo.json
.gitlab-ci.yml
.DS_Store

# Logs
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# logs
npm-debug.log
