@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: #ccc;
}

main {
  position: relative;
  min-height: calc(100vh - var(--sl-nav-height) - 3vh);
}

/* trying to prevent layout shift with unstyled elements */
.main-pane *:not(:defined):not(astro-slot) {
  display: none;
}

/* Fonts */

@font-face {
  font-family: "NotoSans";
  src: url("./assets/fonts/NotoSans-VariableFont_wdth,wght.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url("./assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.woff2") format("woff2");
  font-style: italic;
}

:root {
  -webkit-tap-highlight-color: transparent;
  scrollbar-gutter: stable;
  scrollbar-color: #888 transparent;

  --sl-content-width: 1184px;
  /* --sl-content-width: 1440px; */
  --sl-sidebar-width: 16rem;
  --sl-color-bg-nav: transparent !important;
}

header {
  --sl-color-bg-nav: transparent;

  border-bottom: none !important;
  backdrop-filter: blur(24px);
}

footer {
  background: transparent !important;
}

.content-panel h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.sl-markdown-content p {
  max-width: 880px;
}

table {
  display: table !important;
  width: 100%;
}

.sidebar-pane a[href] {
  font-weight: normal;
}

.sidebar-pane a[href]:not([aria-current="page"]):hover {
  background-color: #c1caf5;
}

/* Slides count for Slider */

.not-content {
  counter-reset: content-counter;
}

.counted {
  position: relative;
}

.counted::after {
  counter-increment: content-counter;
  content: counter(content-counter);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4rem;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0.5;
  font-family: monospace;
}

/* Pill */

.pill {
  @apply border border-zinc-700 flex gap-2 rounded-lg bg-zinc-100 dark:bg-zinc-800 px-3 py-2 leading-none no-underline items-center hover:bg-zinc-300 dark:hover:bg-zinc-700;

  color: currentColor !important;
}

.pill span {
  @apply text-xs font-bold;
}
