@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss/theme";

@import "./theme/theme.css";
@import "./theme/markdown.css";

/* Fonts */
@import "@fontsource/roboto/latin.css";
@import "@fontsource/roboto-condensed/latin.css";

@source '../../packages/components/**/*.tsx';
