@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss/theme";

@import "./theme/theme.css";
@import "./theme/markdown.css";

@source '../../packages/components/src/vue/*.tsx';

:root {
  min-width: 320px;

  --site-width: 1700px;
  --site-padding: var(--module-2xl);

  @apply typo-body text-(--style-typography-body) font-sans;

  --scrollbar-color-track: transparent;
  --scrollbar-color-thumb: #1c1c1c;
  --outline-color: blue;
}

body {
  scrollbar-gutter: stable;
}

section {
  overflow: hidden;
  padding-inline: var(--site-padding);
}

* {
  scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
  outline-color: var(--outline-color);
  outline-offset: 3px;
}

* {
  word-break: break-word;
  hyphens: auto;
}

main {
  position: relative;
  margin-inline: auto;
  max-width: var(--site-width);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  @apply max-w-[880px];
}

.astro-code {
  @apply typo-topline;
}

/* trying to prevent layout shift with unstyled elements */

main :not(:defined):not(astro-slot) > *:not([slot="toggle"]):not([slot="trigger"]) {
  display: none;
}

a-overlay:not(:defined) {
  display: none;
}

/* Fonts */

@font-face {
  font-family: "NotoSans";
  src: url("./assets/fonts/NotoSans-VariableFont_wdth,wght.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url("./assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.woff2") format("woff2");
  font-style: italic;
}
