@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss/theme";

@import "./theme/theme.css";
@import "./theme/markdown.css";

@source '../../packages/components/src/vue/*.tsx';

/* Fonts */

@font-face {
  font-family: "NotoSans";
  src: url("./assets/fonts/NotoSans-VariableFont_wdth,wght.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url("./assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.woff2") format("woff2");
  font-style: italic;
}
