---
import "./layout.css";
import { ClientRouter } from "astro:transitions";
import Header from "./components/Header.astro";
---

<html>
  <head>
    <ClientRouter />
  </head>
  <body>
    <Header />

    <main>
      <slot />
    </main>
  </body>
</html>
