---
import "./layout.css";
import { ClientRouter } from "astro:transitions";
import Header from "./components/Header.astro";
import { svg } from "@sv/svg-sprites/sheet";

const iocnSheet = await svg();
---

<html>
  <head>
    <ClientRouter />
  </head>
  <body>
    <div class="hidden" set:html={iocnSheet} />

    <Header />

    <main>
      <slot />
    </main>
  </body>
</html>
