---
import "./layout.css";
import { getCollection } from "astro:content";
import { ClientRouter } from "astro:transitions";

const allDocs = await getCollection("docs");

const base = import.meta.env.BASE_URL;
---

<html>
  <head>
    <ClientRouter />
  </head>
  <body>
    <nav>
      <ul>
        {allDocs.map(doc => {
          return <li><a href={`/${[...base.split("/"), ...doc.id.split("/")].filter(Boolean).join("/")}`}>{doc.data.title} [{doc.id}]</a></li>
        })}
      </ul>
    </nav>

    <main>
      <slot />
    </main>
  </body>
</html>
