---
import "./layout.css";
import { getCollection } from "astro:content";
import { ClientRouter } from "astro:transitions";

const allDocs = await getCollection("docs");

const base = import.meta.env.BASE_URL;
---

<html>
  <head>
    <ClientRouter />
  </head>
  <body>
    <header>
      <div>
        <a href={base}>
          <img src="../../../assets/atrium-light.png" class="h-12" />
        </a>
      </div>

      <nav class="pb-12">
        <ul class="flex gap-4 flex-wrap">
          {allDocs.map(doc => {
            return <li><a href={`/${[...base.split("/"), ...doc.id.split("/")].filter(Boolean).join("/")}`}>{doc.data.title} [{doc.id}]</a></li>
          })}
        </ul>
      </nav>
    </header>

    <main>
      <slot />
    </main>
  </body>
</html>
