---

---

<form class="grid grid-cols-3" id="testform">
  <div>
    Default
    <a-toggle
      class="m-1 p-2 leading-none cursor-pointer border hover:border-zinc-600 border-zinc-700 dark:bg-zinc-800 focus:ring-2 [&[value='true']]:bg-zinc-100 dark:[&[value='true']]:bg-zinc-700"
      name="default"
    >
      <span slot="true">Yes</span>
      <span slot="false">No</span>
    </a-toggle>
  </div>

  <div>
    True
    <a-toggle
      class="m-1 p-2 leading-none cursor-pointer border hover:border-zinc-600 border-zinc-700 dark:bg-zinc-800 focus:ring-2 [&[value='true']]:bg-zinc-100 dark:[&[value='true']]:bg-zinc-700"
      name="true"
      value="true"
    >
      <span slot="true">Yes</span>
      <span slot="false">No</span>
    </a-toggle>
  </div>

  <div>
    False
    <a-toggle
      class="m-1 p-2 leading-none cursor-pointer border hover:border-zinc-600 border-zinc-700 dark:bg-zinc-800 focus:ring-2 [&[value='true']]:bg-zinc-100 dark:[&[value='true']]:bg-zinc-700"
      name="false"
      value="false"
    >
      <span slot="true">Yes</span>
      <span slot="false">No</span>
    </a-toggle>
  </div>
</form>

<div class="pt-2">
  <pre id="result"></pre>
</div>

<script>
  const result = document.getElementById("result");
  const form = document.getElementById("testform") as HTMLFormElement | undefined;

  const render = () => {
    if (form && result) {
      const data = new FormData(form);
      result.innerHTML = JSON.stringify(Object.fromEntries(data), null, 2);
    }
  };

  form?.addEventListener("input", render);

  render();
</script>
