@reference "../../layout.css";

.docs-story-canvas {
  position: relative;
  border: 1px solid #eee;
  border-radius: 6px;
  margin-top: 1rem;
  height: 100%;
}

.docs-story-canvas iframe {
  display: block;
  user-select: none;
  width: 100%;
  height: 0px;
  min-height: 0px;
  min-width: 320px;
}

.docs-story-controls {
  width: 100%;
  position: relative;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.docs-story-controls th:nth-child(2) {
  width: 100%;
}

.docs-story-controls th {
  min-width: 150px;
}

.docs-nav-link-variant,
.docs-nav-link {
  --sl-sidebar-item-padding-inline: 0.5rem;

  display: block;
  border-radius: 0.25rem;
  text-decoration: none;
  color: var(--sl-color-gray-2);
  padding: 0.3em var(--sl-sidebar-item-padding-inline);
  line-height: 1.4;
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
}

.docs-nav-link-variant:hover,
.docs-nav-link:hover {
  background-color: #d3dffc;
}

.docs-nav-link[aria-current="page"] {
  color: var(--sl-color-text-invert);
  background-color: var(--sl-color-text-accent);
  font-weight: 600;
}

[data-layout-fullscreen="true"] {
  position: relative;

  --sl-content-width: 100%;
}

[data-layout-fullscreen="true"] main {
  padding-bottom: 0;
}

[data-layout-fullscreen="true"] footer {
  display: none;
}
