---
import { StoryFrame } from "./Story.jsx";
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style is:inline>
      :root {
        --color-black: #121a26;
        --color-white: #ffffff;
        --color-primary-50: #d6cfe3;
        --color-primary-100: #c0b5d6;
        --color-primary-200: #a99ac9;
        --color-primary-300: #927dbd;
        --color-primary-400: #7b61b2;
        --color-primary-500: #664aa1;
        --color-primary-600: #533b86;
        --color-primary-700: #412d69;
        --color-primary-800: #2e204c;
        --color-primary-900: #1c132f;
        --color-primary-950: #0a0711;
        --color-gray-50: #f2f2f2;
        --color-gray-100: #e6e6e6;
        --color-gray-200: #cfcfcf;
        --color-gray-300: #b5b5b5;
        --color-gray-400: #9a9a9d;
        --color-gray-500: #808189;
        --color-gray-600: #666770;
        --color-gray-700: #4c4d57;
        --color-gray-800: #34353e;
        --color-gray-900: #1a1b1e;
        --color-gray-950: #0f0f10;
      }

      html, body {
        background: none;
        padding: 0;
        margin: 0;
      }

      svg-icon {
        color: inherit;
        display: inline-block;
        vertical-align: top;
        width: 1em;
        height: 1em;
      }
      svg-icon img, svg-icon svg {
        display: block;
        width: inherit;
        height: inherit;
      }
    </style>

    <script type="importmap">
      {
        "imports": {
          "lit": "https://esm.sh/lit",
          "vue": "https://esm.sh/vue",
          "solid-js/web": "https://esm.sh/solid-js/web",
          "solid-js": "https://esm.sh/solid-js",
          "solid-js/jsx-runtime": "https://esm.sh/solid-js/jsx-runtime",
          "tailwind-merge": "https://esm.sh/tailwind-merge"
        }
      }
    </script>
  </head>
  <body>
    <div id="root"></div>
    <StoryFrame client:only="react" />

    <script type="module" is:inline>
      const searchParams = new URLSearchParams(location.search);
      const fill = searchParams.has("fill");

      if (fill) {
        document.documentElement.style.width = "100%";
        document.documentElement.style.minHeight = "100%";
        document.documentElement.style.height = "100%";
        document.body.style.width = "100%";
        document.body.style.minHeight = "100%";
        document.body.style.height = "100%";
        document.body.style.overflow = "hidden";
      }

      new ResizeObserver((entries) => {
        const height = document.body.scrollHeight;
        if(height) {
          parent.postMessage({
            id: searchParams.get("id"),
            height: height
          }, "*");
        }
      }).observe(document.body);
    </script>

    <script>
      import("@sv/elements");
      import("@tailwindcss/browser");
    </script>
  </body>
</html>
