---
import { join, resolve } from "node:path";

export interface Props {
  package: string;
}

const path = join(resolve("../"), "packages", Astro.props.package, "/CHANGELOG.md");
const { Content } = await import(path);
---

<br>
<Content />
<br>
<a target="_blank" href={`https://gitlab.s-v.de/svp/atrium/-/blob/main/packages/${Astro.props.package}/CHANGELOG.md`}>Full changelog</a>
