---
import { Tabs, TabItem, Code } from "@astrojs/starlight/components";

const props = Astro.props;
---

<div class="terminal-command">
  <Tabs syncKey="packageManagerCommand">
    <TabItem label="pnpm" icon="pnpm">
      <code lang="sh">{props.pnpm}</code>
    </TabItem>
    <TabItem label="npm" icon="seti:npm">
      <code lang="sh">{props.npm}</code>
    </TabItem>
    <TabItem label="bun" icon="bun">
      <code lang="sh">{props.bun}</code>
    </TabItem>
  </Tabs>
</div>

<style is:global>
  .terminal-command .not-content {
    padding: 0;
    border: none;
    min-height: 0;
  }
</style>
