---
import { Tabs, TabItem, Code } from "@astrojs/starlight/components";
import { Headline, Icon } from "package:/components";

export interface Props {
  title?: string;
  code: string;
}

const file = Astro.props.code?.trim();
---

<Headline>{Astro.props.title || "Example"}</Headline>

<div class="not-content box w-full flex flex-col items-left justify-center">
  <div class="p-4">
    <slot />
  </div>

  <a-expandable class="group">
    <button
      slot="toggle"
      type="button"
      class="items-center border border-zinc-800 rounded-md p-2 px-4 cursor-pointer w-full bg-transparent text-left text-lg flex justify-between"
    >
      <span>Show Code</span>

      <Icon class="block! group-[[opened]]:hidden!" name="expand" />
      <Icon class="hidden! group-[[opened]]:block!" name="collapse" />
    </button>

    <div>
      <Code code={file} lang="tsx" />
    </div>
  </a-expandable>
</div>

<script>
  document.body.classList.add("hydrated");
</script>
