@theme atrium-docs {
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1400px;

  --container-md: 768px;
  --container-lg: 1200px;
  --container-xl: 1400px;

  /* fonts */

  --font-sans: Roboto, sans-serif;
  --font-sans-condensed: Roboto Condensed, sans-serif;

  --font-weight-thin: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --text-3xs: 0.5rem; /* 3xs: 8px */
  --text-2xs: 0.625rem; /* 2xs: 10px */
  --text-1xs: 0.75rem; /* xs: 12px */
  --text-xs: 0.8125rem; /* xs: 13px */
  --text-sm: 0.875rem; /* sm: 14px */
  --text-base: 1rem; /* base: 16px */
  --text-md: 1.125rem; /* md: 18px */
  --text-lg: 1.25rem; /* lg: 20px */
  --text-xl: 1.375rem; /* xl: 22px */
  --text-2xl: 1.5rem; /* 2xl: 24px */
  --text-3xl: 1.625rem; /* 3xl: 26px */
  --text-4xl: 1.75rem; /* 4xl: 28px */
  --text-5xl: 1.875rem; /* 5xl: 30px */
  --text-6xl: 2rem; /* 6xl: 32px */
  --text-7xl: 2.25rem; /* 7xl: 36px */
  --text-8xl: 2.875rem; /* 8xl: 46px */

  --leading-8: 0.5rem; /* 8px */
  --leading-16: 1rem; /* 16px */
  --leading-20: 1.25rem; /* 20px */
  --leading-22: 1.375rem; /* 22px */
  --leading-24: 1.5rem; /* 24px */
  --leading-26: 1.625rem; /* 26px */
  --leading-28: 1.75rem; /* 28px */
  --leading-30: 1.875rem; /* 30px */
  --leading-32: 2rem; /* 32px */
  --leading-34: 2.125rem; /* 34px */
  --leading-36: 2.25rem; /* 36px */
  --leading-38: 2.375rem; /* 38px */
  --leading-44: 2.75rem; /* 44px */

  /* spacing */

  --spacing-element-3xs: 0.125rem; /* 2px */
  --spacing-element-2xs: 0.25rem; /* 4px */
  --spacing-element-xs: 0.5rem; /* 8px */
  --spacing-element-s: 0.75rem; /* 12px */
  --spacing-element-m: 1rem; /* 16px */
  --spacing-element-l: 1.25rem; /* 20px */
  --spacing-element-xl: 1.5rem; /* 24px */
  --spacing-element-2xl: 2rem; /* 32px */
  --spacing-element-3xl: 2.5rem; /* 40px */
  --spacing-element-4xl: 3rem; /* 48px */

  --spacing-module-3xs: var(--module-3xs);
  --spacing-module-2xs: var(--module-2xs);
  --spacing-module-xs: var(--module-xs);
  --spacing-module-s: var(--module-s);
  --spacing-module-m: var(--module-m);
  --spacing-module-l: var(--module-l);
  --spacing-module-xl: var(--module-xl);
  --spacing-module-2xl: var(--module-2xl);
  --spacing-module-3xl: var(--module-3xl);
  --spacing-module-4xl: var(--module-4xl);
  --spacing-module-5xl: var(--module-5xl);
  --spacing-module-6xl: var(--module-6xl);
  --spacing-module-7xl: var(--module-7xl);
  --spacing-module-8xl: var(--module-8xl);
  --spacing-module-9xl: var(--module-9xl);

  --radius-2xs: 0.0625rem; /* 1px */
  --radius-xs: 0.125rem; /* 2px */
  --radius-sm: 0.25rem; /* 4px */
  --radius-md: 0.375rem; /* 6px */
  --radius-lg: 0.5rem; /* 8px */
  --radius-xl: 0.75rem; /* 12px */
  --radius-2xl: 1rem; /* 16px */
  --radius-3xl: 1rem; /* 16px */
  --radius-full: 999px; /* 999px */

  /* colors */

  --color-black: #000000;
  --color-white: #ffffff;

  --color-primary-50: oklch(0.969 0.015 12.422);
  --color-primary-100: oklch(0.941 0.03 12.58);
  --color-primary-200: oklch(0.892 0.058 10.001);
  --color-primary-300: oklch(0.81 0.117 11.638);
  --color-primary-400: oklch(0.712 0.194 13.428);
  --color-primary-500: oklch(0.645 0.246 16.439);
  --color-primary-600: oklch(0.586 0.253 17.585);
  --color-primary-700: oklch(0.514 0.222 16.935);
  --color-primary-800: oklch(0.455 0.188 13.697);
  --color-primary-900: oklch(0.41 0.159 10.272);
  --color-primary-950: oklch(0.271 0.105 12.094);

  --color-secondary-50: oklch(0.984 0.014 180.72);
  --color-secondary-100: oklch(0.953 0.051 180.801);
  --color-secondary-200: oklch(0.91 0.096 180.426);
  --color-secondary-300: oklch(0.855 0.138 181.071);
  --color-secondary-400: oklch(0.777 0.152 181.912);
  --color-secondary-500: oklch(0.704 0.14 182.503);
  --color-secondary-600: oklch(0.6 0.118 184.704);
  --color-secondary-700: oklch(0.511 0.096 186.391);
  --color-secondary-800: oklch(0.437 0.078 188.216);
  --color-secondary-900: oklch(0.386 0.063 188.416);
  --color-secondary-950: oklch(0.277 0.046 192.524);

  --color-grey-50: #f2f2f2;
  --color-grey-100: #e6e6e6;
  --color-grey-200: #cfcfcf;
  --color-grey-300: #b5b5b5;
  --color-grey-400: #9a9a9d;
  --color-grey-500: #808189;
  --color-grey-600: #666770;
  --color-grey-700: #4c4d57;
  --color-grey-800: #34353e;
  --color-grey-900: #1a1b1e;
  --color-grey-950: #0f0f10;

  --color-red-50: #fff4f1;
  --color-red-100: #ffe9e0;
  --color-red-200: #ffcebd;
  --color-red-300: #ffb094;
  --color-red-400: #ff8b61;
  --color-red-500: #ff4600;
  --color-red-600: #eb3f00;
  --color-red-700: #c73500;
  --color-red-800: #a82d00;
  --color-red-900: #7a2100;
  --color-red-950: #5c1800;

  /* styles */

  --style-fill-primary-default: var(--color-primary-900);
  --style-fill-primary-hover: var(--color-primary-900);
  --style-fill-primary-active: var(--color-primary-700);
  --style-fill-primary-subtle: var(--color-primary-200);
  --style-fill-primary-disabled: var(--color-grey-300);
  --style-fill-primary-brighter: var(--color-primary-800);
  --style-contour-primary-default: var(--color-primary-900);
  --style-contour-primary-hover: var(--color-primary-900);
  --style-contour-primary-onclick: var(--color-primary-900);
  --style-contour-primary-active: var(--color-primary-700);
  --style-contour-primary-focus: var(--color-secondary-600);
  --style-contour-primary-disabled: var(--color-grey-300);
  --style-contour-primary-button: var(--color-primary-900);
  --style-contour-grey-default: var(--color-grey-800);
  --style-contour-grey-hover: var(--color-grey-800);
  --style-contour-grey-onclick: var(--color-grey-800);
  --style-contour-grey-focus: var(--color-secondary-600);
  --style-contour-grey-active: var(--color-primary-700);
  --style-contour-grey-disabled: var(--color-grey-300);
  --style-typography-title: var(--color-grey-800);
  --style-icon-default: var(--color-grey-800);
  --style-icon-hover: var(--color-grey-800);
  --style-icon-onclick: var(--color-grey-800);
  --style-icon-active: var(--color-primary-700);
  --style-icon-subtle: var(--color-primary-200);
  --style-icon-disabled: var(--color-grey-300);
  --style-icon-negative: var(--color-grey-50);
  --style-icon-button-primary: var(--color-grey-50);
  --style-icon-button-secondary: var(--color-grey-800);
  --style-icon-error: var(--color-red-500);
  --style-typography-body: var(--color-grey-800);
  --style-typography-subtitle: var(--color-grey-800);
  --style-typography-topline: var(--color-grey-800);
  --style-typography-disabled: var(--color-grey-300);
  --style-typography-link: var(--color-primary-900);
  --style-typography-hover: var(--color-grey-800);
  --style-typography-onclick: var(--color-grey-800);
  --style-typography-active: var(--color-primary-700);
  --style-typography-button-primary: var(--color-white);
  --style-typography-button-secondary: var(--color-grey-800);
  --style-black: var(--color-black);
  --style-white: var(--color-white);
  --style-fill-grey-default: var(--color-grey-50);
  --style-fill-white-background: var(--color-white);
  --style-fill-grey-hover: var(--color-grey-100);
  --style-fill-grey-active: var(--color-grey-50);
  --style-fill-grey-subtle: var(--color-grey-50);
  --style-fill-grey-disabled: var(--color-grey-300);
  --style-fill-grey-dark: var(--color-grey-800);
  --style-fill-grey-background-overlay: var(--color-grey-50);
  --style-contour-error: var(--color-red-500);
  --style-typography-error: var(--color-red-500);

  /* animation */

  --ease-smooth: cubic-bezier(0, 0.34, 0, 0.96);
}

/* Grids */

@utility grid-default {
  @apply mx-auto w-full grid grid-cols-12 max-w-[1400px];
  @apply gap-x-[0.5rem] md:gap-x-[0.75rem] lg:gap-x-[1rem];
  @apply px-[1rem] md:px-[1.25rem] lg:px-[2rem];
  @apply [&>*]:col-span-12;
}

/* Typography Styles */

@utility typo-title-1 {
  @apply font-sans-condensed font-bold uppercase;
  @apply text-[4.5rem] -ml-[3px] -mt-[16px] -mb-[16px];
  @apply leading-[125%];
}
@utility typo-title-2 {
  @apply font-sans-condensed font-bold;
  @apply text-[3.75rem];
  @apply leading-[125%];
}
@utility typo-title-3 {
  @apply font-sans-condensed font-bold;
  @apply text-[3.625rem];
  @apply leading-[125%];
}
@utility typo-title-4 {
  @apply font-sans-condensed font-bold;
  @apply text-[2.5rem];
  @apply leading-[125%];
}
@utility typo-subtitle {
  @apply font-semibold;
  @apply text-[1.5rem];
  @apply leading-[125%];
}
@utility typo-headline {
  /* subtitle 2 */
  @apply font-light;
  @apply text-[1.5rem];
  @apply leading-[125%];
}
@utility typo-intro {
  @apply font-light uppercase tracking-[0.04em];
  @apply text-[1.25rem];
  @apply leading-[125%];
}

@utility typo-body {
  @apply text-base leading-24 font-light;
}
@utility typo-footnote {
  @apply text-[0.8125rem] leading-[125%];
}
@utility typo-info {
  @apply text-[0.75rem] leading-[125%] font-bold uppercase;
}
@utility typo-caption {
  @apply text-[0.75rem] leading-[125%] font-light;
}

@utility typo-button-s {
  @apply text-sm leading-24; /* leading matching the default icon height of 22px */
}
@utility typo-textlink-s {
  @apply text-sm leading-24; /* leading matching the default icon height of 22px */
}
@utility typo-textlink-m {
  @apply text-base leading-24;
}

@utility icon {
  @apply w-[1em] h-[1em] text-[1.375rem] text-inherit inline-block align-top;
}

/* Size Styles */

/* MQ-S */
:root {
  --module-xs: 0.375rem; /* 6px */
  --module-s: 0.5rem; /* 8px */
  --module-m: 0.75rem; /* 12px */
  --module-l: 0.875rem; /* 14px */
  --module-xl: 1rem; /* 16px */
  --module-2xl: 1.25rem; /* 20px */
  --module-3xl: 1.75rem; /* 28px */
  --module-4xl: 2rem; /* 32px */
  --module-5xl: 2.5rem; /* 40px */
  --module-6xl: 2.75rem; /* 44px */
  --module-7xl: 4.75rem; /* 76px */
  --module-8xl: 8rem; /* 128px */
  --module-9xl: 14.375rem; /* 230px */
}

/* MQ-M */
@media (min-width: 768px) {
  :root {
    --module-xs: 0.375rem; /* 6px */
    --module-s: 0.625rem; /* 10px */
    --module-m: 0.875rem; /* 14px */
    --module-l: 1.125rem; /* 18px */
    --module-xl: 1.25rem; /* 20px */
    --module-2xl: 1.625rem; /* 26px */
    --module-3xl: 2.125rem; /* 34px */
    --module-4xl: 2.5rem; /* 40px */
    --module-5xl: 3rem; /* 48px */
    --module-6xl: 3.375rem; /* 54px */
    --module-7xl: 5.375rem; /* 86px */
    --module-8xl: 8rem; /* 128px */
    --module-9xl: 14.375rem; /* 230px */
  }
}

/* MQ-L */
@media (min-width: 1200px) {
  :root {
    --module-xs: 0.5rem; /* 8px */
    --module-s: 0.75rem; /* 12px */
    --module-m: 1rem; /* 16px */
    --module-l: 1.25rem; /* 20px */
    --module-xl: 1.5rem; /* 24px */
    --module-2xl: 2rem; /* 32px */
    --module-3xl: 2.5rem; /* 40px */
    --module-4xl: 3rem; /* 48px */
    --module-5xl: 3.5rem; /* 56px */
    --module-6xl: 4rem; /* 64px */
    --module-7xl: 6rem; /* 96px */
    --module-8xl: 8rem; /* 128px */
    --module-9xl: 14.375rem; /* 230px */
  }
}

/* MQ-XL */
@media (min-width: 1400px) {
  :root {
    --module-xs: 0.5rem; /* 8px */
    --module-s: 0.875rem; /* 14px */
    --module-m: 1.125rem; /* 18px */
    --module-l: 1.5rem; /* 24px */
    --module-xl: 1.75rem; /* 28px */
    --module-2xl: 2.375rem; /* 38px */
    --module-3xl: 2.875rem; /* 46px */
    --module-4xl: 3.5rem; /* 56px */
    --module-5xl: 4rem; /* 64px */
    --module-6xl: 4.625rem; /* 74px */
    --module-7xl: 6.625rem; /* 106px */
    --module-8xl: 8rem; /* 128px */
    --module-9xl: 14.375rem; /* 230px */
  }
}

/* Utilities */

@custom-variant enabled (&:not([disabled]):not([aria-disabled="true"]));

@custom-variant hover-active {
  @media (any-hover: hover) {
    &:hover {
      @slot;
    }
  }
  :active {
    @slot;
  }
}

@utility style-fill-* {
  background-color: --value(--style-fill-\*);
}

@utility style-typography-* {
  color: --value(--style-typography-\*);
}

@utility style-icon-* {
  color: --value(--style-icon-\*);
}

@utility style-contour-* {
  border-color: --value(--style-contour-\*);
}

/* Buttons */

@utility backdrop {
  @apply -z-1 absolute left-0 top-0 content-[''] w-full h-full transition-all pointer-events-none;
}

/* Primary Button */

@utility button-primary-shape {
  @apply bg-(--style-fill-primary-default) hover:bg-(--style-fill-primary-hover) active:bg-(--style-fill-primary-active);
  @apply rounded-full transition-colors duration-150 active:duration-0;
  @apply not-enabled:button-primary-disabled;
}

@utility button-primary-disabled {
  @apply text-(--style-typography-button-primary) bg-(--style-fill-primary-disabled) cursor-default;
}

@utility button-primary {
  @apply typo-button-s font-medium h-[2.625rem] whitespace-nowrap text-(--style-typography-button-primary);
  @apply rounded-full z-0 relative px-element-xl enabled:cursor-pointer button-primary-shape;
  @apply enabled:before:backdrop before:button-primary-shape;
  @apply hover:before:scale-105 active:before:scale-y-100 active:before:duration-0;
  @apply [&>.icon:last-child]:ml-element-xs [&>.icon:first-child]:mr-element-xs;
}

/* Secondary Button */

@utility button-secondary-shape {
  @apply rounded-full transition-all duration-150 active:duration-0;
  @apply border-1 border-(--style-contour-primary-default);
}

@utility button-secondary-disabled {
  @apply text-(--style-typography-disabled) cursor-default border-(--style-contour-primary-disabled);
}

@utility button-secondary {
  @apply typo-button-s font-medium h-[2.625rem] whitespace-nowrap text-(--style-typography-button-secondary);
  @apply rounded-full z-0 relative px-element-xl enabled:cursor-pointer not-enabled:button-secondary-disabled;
  @apply before:backdrop before:button-secondary-shape not-enabled:before:button-secondary-disabled;
  @apply enabled:hover:before:scale-105 enabled:active:before:scale-y-100 enabled:active:before:duration-0;
  @apply [&>.icon:last-child]:ml-element-xs [&>.icon:first-child]:mr-element-xs;
}

/* Sublte Button */

@utility button-subtle-shape {
  @apply bg-(--style-fill-primary-subtle) hover:bg-(--style-fill-primary-subtle) active:bg-(--style-fill-primary-subtle);
  @apply rounded-full transition-colors duration-150 active:duration-0;
  @apply not-enabled:button-subtle-disabled;
}

@utility button-subtle-disabled {
  @apply text-(--style-typography-button-primary) bg-(--style-fill-primary-disabled) cursor-default;
}

@utility button-subtle {
  @apply typo-button-s font-medium h-[2.625rem] whitespace-nowrap text-(--style-typography-button-secondary);
  @apply rounded-full z-0 relative px-element-xl enabled:cursor-pointer button-subtle-shape;
  @apply enabled:before:backdrop before:button-subtle-shape;
  @apply hover:before:scale-105 active:before:scale-y-100 active:before:duration-0;
  @apply [&>.icon:last-child]:ml-element-xs [&>.icon:first-child]:mr-element-xs;
}

/* Icon Button */

@utility button-icon {
  @apply enabled:cursor-pointer style-icon-default;
  @apply transition-transform enabled:hover:scale-110 enabled:active:scale-100 active:before:duration-0;
}

/* Textlink Style */

@utility text-link {
  @apply typo-textlink-s not-enabled:text-(--style-typography-disabled) enabled:cursor-pointer;
  @apply [&>.icon:last-child]:ml-element-2xs [&>.icon:first-child]:mr-element-2xs;
  @apply [&[aria-current="page"]]:text-link-active;
}

@utility text-link-active {
  @apply text-(--style-typography-active);
}

.text-link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 10%;
  height: 0.125rem;
  background: currentColor;
  pointer-events: none;
  opacity: 0;
  transition:
    width 0.175s ease-in-out,
    transform 0.05s ease-out,
    opacity 0.15s ease-in-out;
}

.text-link span {
  position: relative;
}

.text-link:focus-visible {
  outline: none;
}

.text-link:focus-visible span::after {
  background: var(--outline-color);
}

.text-link[aria-current="page"] span::after,
.text-link:focus-visible span::after,
.text-link:hover span::after {
  width: 100%;
  opacity: 1;
}

.text-link:active span::after {
  transform: scaleX(0.925);
}

/* Inputs */

@utility input {
  @apply w-full typo-body font-medium style-typography-body style-fill-white-background;
  @apply border-1 border-solid border-(--style-contour-primary-default) rounded-md;
  @apply py-element-2xs px-element-xs transition-colors duration-150;
  @apply focus:border-(--style-contour-primary-active);
  @apply placeholder:style-typography-disabled;
}

@utility input-disabled {
  @apply opacity-50 cursor-not-allowed;
}

/* Animations */

@utility move-in {
  animation:
    moveIn 1s 0.2s var(--ease-smooth) both,
    fadeIn 1s 0.2s ease both;
}

@utility fade-in {
  animation: fadeIn 1.5s 0.25s ease both;
}

@keyframes moveIn {
  from {
    transform: translateY(-4rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
