/* disable vertical center */
.histoire-story-viewer .htw-m-auto {
  margin-top: 0;
}

.histoire-generic-render-story {
  overflow: visible !important;
}

.histoire-story-controls {
  /* margin: 20px; */
}

.histoire-story-controls .histoire-generic-render-story {
  border: none;
  margin: 1rem;
}

.histoire-story-list::after {
  content: var(--version);
  font-weight: bold;
  opacity: 0.2;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

button {
  border: none;
  background: white;
  border-radius: 4px;
  border: 1px solid grey;
  cursor: pointer;
  padding: 4px 8px;
}
button[selected] {
  background: #8ecaec;
}
button:hover {
  filter: brightness(0.9);
}
button:active {
  transform: scale(0.985);
}
