---
import Layout from "../layout.astro";
---

<Layout>
  <title slot="head">Atrium UI</title>
  <meta name="description" slot="head" content="A curated collection of Libraries, Custom-Elements and Components for different Frameworks for building high quality websites." />

  <section class="fade-in py-12">
    <div class="lg:px-module-6xl">
      <h3 class="typo-title-1 pb-element-xs">Nothing here</h3>
      <p class="typo-subtitle">It looks like you're lost. Try navigating to a different page.</p>
    </div>
  </section>

</Layout>
