---
import Layout from "../layout.astro";
import SideMenu from "../components/SideMenu.astro";
---

<Layout>
  <section class="markdown-content max-w-[900px] mx-auto">
    Showcase
  </section>
</Layout>
