---
import Layout from "../layout.astro";
import SideMenu from "../components/SideMenu.astro";
---

<Layout>
  <title slot="head">Showcase | Atrium UI</title>
  <meta name="description" slot="head" content="Showcase of Atrium UI components and features." />

  <section class="markdown-content max-w-[900px] mx-auto">
    Showcase
  </section>
</Layout>
