<div data-html-node class="relative mr-12">
  <div class="absolute top-[2px] opacity-50 left-[-1.75rem] flex items-center pointer-events-none w-0 h-0 -rotate-90 justify-end">
    <spam class="uppercase whitespace-nowrap text-xs before:content-['Preview']"></spam>
  </div>

  <div class="not-content w-full flex flex-col items-left justify-center relative">
    <div class="box">
      <div class="w-full h-full min-h-40">
        <slot />
      </div>
    </div>
  </div>

  <script>
    document.body.classList.add("hydrated");
  </script>
</div>
