---
import { Icon } from "package:/components";
import { Code } from "astro:components";

export interface Props {
  title?: string;
  code: string;
}

const file = Astro.props.code?.trim();
---

<h2>{Astro.props.title || "Example"}</h2>

<div class="not-content box w-full flex flex-col items-left justify-center">
  <div class="p-4">
    <slot />
  </div>

  <a-expandable class="group">
    <button
      slot="toggle"
      type="button"
      class="items-center p-2 px-4 cursor-pointer w-full text-left typo-body flex justify-between"
    >
      <span>Show Code</span>

      <Icon class="block! group-[[opened]]:hidden!" name="expand" />
      <Icon class="hidden! group-[[opened]]:block!" name="collapse" />
    </button>

    <div>
      <Code lang="tsx" code={file}></Code>
    </div>
  </a-expandable>
</div>

<script>
  document.body.classList.add("hydrated");
</script>
