---
import { Tabs, TabItem, Code } from "@astrojs/starlight/components";

export interface Props {
  code: string;
}

const file = Astro.props.code?.trim();
---

<div>
  <Tabs>
    <TabItem label="Preview">
      <div class="not-content box w-full flex flex-col items-center justify-center">
        <slot />
      </div>
    </TabItem>
    <TabItem label="Code">
      <Code code={file} lang="tsx" />
    </TabItem>
  </Tabs>
</div>
