---
import { Tabs, TabItem } from "@astrojs/starlight/components";
import { codeToHtml } from "shiki";

export interface Props {
  title: string;
  code: string;
}

const file = Astro.props.code?.trim();
const content =
  Astro.props.code && codeToHtml(file, { theme: "dark-plus", lang: "astro" });
---

<h3>{Astro.props.title}</h3>

<div>
  <Tabs>
    <TabItem label="Preview">
    <div class="not-content box w-full flex flex-col items-center justify-center">
      <slot></slot>
    </div>
    </TabItem>
    <TabItem label="Code">
      <div set:html={content}></div>
    </TabItem>
  </Tabs>
</div>
