---
export interface Props {
  title: string;
}
---

<h3>{Astro.props.title}</h3>

<div class="not-content box w-full flex items-center justify-center">
  <slot name="preview"></slot>
</div>

<slot name="code"></slot>
