---
import { Icon } from "package:/components";
import { Code } from "astro:components";
import { ExamplePreview } from "./Example.jsx";

export interface Props {
  title?: string;
  code?: string;
}

const file = Astro.props.code?.trim();
---

<div data-html-node class="relative">
  <div class="absolute top-[2px] opacity-50 left-[-1.75rem] flex items-center pointer-events-none w-0 h-0 -rotate-90 justify-end">
    <spam class="uppercase whitespace-nowrap text-xs before:content-['Preview']"></spam>
  </div>

  <div class="not-content w-full flex flex-col items-left justify-center relative">
    <div class="overflow-hidden resize-x">
      <div class="box p-3 overflow-clip">
        <div class="w-full h-full">
          <slot />
        </div>
      </div>
    </div>
  </div>

  <ExamplePreview client:only="react">
    <Code lang="tsx" code={file || ''}></Code>
  </ExamplePreview>

  <script>
    document.body.classList.add("hydrated");
  </script>
</div>
