<div data-html-node class="relative mr-12">
  <div class="not-content w-full flex flex-col items-left justify-center relative">
    <div class="box">
      <div class="w-full h-full min-h-40">
        <slot />
      </div>
    </div>
  </div>

  <script>
    document.body.classList.add("hydrated");
  </script>
</div>
