---
import fs from "node:fs";
import { codeToHtml } from "shiki";

export interface Props {
  file: string;
}

const props = Astro.props;

const langs = {
  ts: "typescript",
  tsx: "typescript",
  js: "javascript",
  jsx: "javascript",
  json: "json",
  yaml: "yaml",
  yml: "yaml",
  md: "markdown",
  html: "html",
  css: "css",
  scss: "scss",
  sass: "sass",
  editorconfig: "ini",
};

async function code() {
  const file = fs.readFileSync(props.file, "utf-8");
  const ext = props.file.split(".").pop();
  const lang = langs[ext] || "plaintext";
  if (file && lang) {
    return codeToHtml(file, { theme: "dark-plus", lang });
  }
}

const content = await code();
---

<div set:html={content}></div>
