---
import "../layout.css";
import { getCollection } from "astro:content";
import Search from "astro-pagefind/components/Search";

const allDocs = await getCollection("docs");

const base = import.meta.env.BASE_URL;
---

<script>
  import "./Overlay.js";
  import "@sv/svg-sprites/svg-icon";
</script>

<header class="mb-6">
  <div class="max-w-(--site-width) px-(--site-padding) mx-auto flex items-center justify-between gap-6 py-8">
    <div class="flex-none">
      <a href={base}>
        <img src="../../../assets/atrium-light.png" class="h-12" />
      </a>
    </div>

    <nav class="flex-1 px-6">
      <ul class="flex gap-8 flex-wrap">
        {allDocs.map(doc => {
          const parts = doc.id.split("/");

          if(parts.length === 1) {
            return (
              <li>
                <a class="text-link" href={`/${[...base.split("/"), ...doc.id.split("/")].filter(Boolean).join("/")}`}>
                  <span>{doc.data.title}</span>
                </a>
              </li>
            )
          }
        }).filter(Boolean)}
      </ul>
    </nav>

    <a-overlay-trigger aria-controls="overlay-search">
      <button class="button-primary">
        <svg-icon name="search" class="mx-[-1rem]" />
        <span class="sr-only">Trigger Overlay</span>
      </button>
    </a-overlay-trigger>
  </div>

  <a-overlay id="overlay-search">
    <div class="pointer-events-none relative py-12">
      <div class="max-w-[900px] px-(--site-padding) py-6 mx-auto bg-white rounded-xl pointer-events-auto">
        <Search />
      </div>
    </div>
  </a-overlay>
</header>
