---
import Search from "astro-pagefind/components/Search";
import Menu from "./Menu.astro";

const base = import.meta.env.BASE_URL;
---

<script>
  import "./Overlay.js";
  import "@sv/svg-sprites/svg-icon";

  //// For Client-Side Navigation
  //
  // function updateLinks (toUrl: URL | Location) {
  //   const current = document.querySelectorAll("[aria-current='page']");
  //   current?.forEach(el => el.removeAttribute("aria-current"));

  //   const newCurrentCandidates = document.querySelectorAll<HTMLAnchorElement>(`[href]`);

  //   for (const candidate of newCurrentCandidates) {
  //     const candidateUrl = new URL(candidate.href);
  //     if (toUrl.pathname.match(candidateUrl.pathname)) {
  //       candidate.setAttribute("aria-current", "page");
  //     }
  //   }
  // }

  // document.addEventListener("astro:after-swap", () => updateLinks(location))
  // window.addEventListener("DOMContentLoaded", () => updateLinks(location));
</script>

<header>
  <div class="w-full text-center pt-2 pb-4 absolute top-0 left-0 -z-1"></div>
  <div class="max-w-(--site-width) px-(--site-padding) mx-auto flex items-center justify-between gap-6 py-6 border-b border-neutral-300">
    <div class="flex-none pl-2">
      <a href={base}>
        <img class="light-mode-only w-12 aspect-square" width="600" src={`${base}atrium-light.png`}  />
        <img class="dark-mode-only w-12 aspect-square" width="600" src={`${base}atrium-dark.png`}  />
      </a>
    </div>

    <div class="flex-1">
      <div class="hidden md:block px-12">
        <Menu />
      </div>
    </div>

    <a class="button-icon text-xl" href="https://github.com/atrium-ui/atrium" target="_blank" rel="noopener noreferrer">
      <svg width="24" height="24" viewBox="0 0 1024 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z" transform="scale(64)" fill="#1B1F23"/>
      </svg>
      <span class="sr-only">To source</span>
    </a>

    <a-overlay-trigger>
      <button class="button-icon block text-xl" aria-controls="overlay-search">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 256 256" fill="currentColor"><path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"/></svg>
        <span class="sr-only">Open search</span>
      </button>
    </a-overlay-trigger>

    <a-overlay-trigger class="block md:hidden">
      <button class="button-primary text-xl" aria-controls="overlay-menu">
        <svg-icon name="menu" class="mx-[-1rem]" />
        <span class="sr-only">Open menu</span>
      </button>
    </a-overlay-trigger>
  </div>

  <a-overlay id="overlay-menu">
    <div class="pointer-events-none relative py-12 px-(--site-padding) h-full">
      <div class="max-w-[900px] px-(--site-padding) relative py-6 mx-auto bg-white rounded-xl pointer-events-auto h-full">
        <Menu class="mobile-menu" />
      </div>
    </div>
  </a-overlay>

  <a-overlay id="overlay-search">
    <div class="pointer-events-none relative py-12 px-(--site-padding) h-full">
      <div class="max-w-[900px] relative mx-auto bg-white rounded-xl pointer-events-auto max-h-full overflow-auto">
        <Search />
      </div>
    </div>
  </a-overlay>
</header>

<style>
.wip {
  --wip-color: #caa908;
  pointer-events: none;
}
.wip::before {
  content: "";
  background-color: #ffffff;
  background: repeating-linear-gradient( 45deg, var(--wip-color), var(--wip-color) 13.5px, #ffffff 13.5px, #ffffff 32.5px );
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 250%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wip::after {
  font-weight: bold;
  color: #caa908;
  content: "Work in progress";
  position: relative;
  z-index: 10;
}
</style>
