---
import { twMerge } from "tailwind-merge";

const props = Astro.props;
---

<div class="mt-module-2xl"></div>

<a-track class="flex overflow-visible">
  <ul class={twMerge("flex-none flex gap-element-2xl", props.class)}>
    {props.headings.filter(heading => heading.depth < 3).map(heading => {
      return (
        <li class="flex-none">
          <a href={`#${heading.slug}`} class="text-link text-grey-500 hover:text-black transition-colors">
            <svg-icon name="arrow-down" class="text-[1.75em]" />
            {heading.text}
          </a>
        </li>
      )
    })}
  </ul>
</a-track>
