---
export interface Props {
  href: string;
  label: string;
}

const props = Astro.props;
---

<a href={props.href} class="pill">
  <span class="align-bottom">{props.label}</span>
</a>

<style is:global>
  .pill {
    @apply border border-zinc-700 flex gap-2 rounded-lg bg-zinc-100 dark:bg-zinc-800 px-3 py-2 leading-none no-underline items-center hover:bg-zinc-300 dark:hover:bg-zinc-700;
  }

  .pill span {
    @apply text-xs font-bold;
  }
</style>
