---
import Icon from "./Icon.astro";
import IconRive from "./IconRive.astro";

const props = Astro.props;

export interface Props {
  href: string;
  label: string;
  icon?: "atrium" | "rive";
}
---

<a href={props.href} class="flex gap-1 no-underline rounded-lg px-2 py-1 leading-none bg-zinc-800 hover:bg-zinc-700">
    {
        props.icon === "atrium" || !props.icon ? <Icon class="text-[#eee] text-[12px] mb-[-0.15em]" name="check" /> 
          : props.icon === "rive" ? <IconRive class="text-[#eee] text-[12px] mb-[-0.15em]" name="check" /> 
          : null
    }
    <span class="align-bottom text-[#eee] text-xs">{props.label}</span>
</a>
