---
import dependents from "../../assets/dependents.json";
// This file comes from https://tihav.pages.s-v.de/gitlab-dependency-analysis/dependents.json.
// It scrapes the GitLab API for all projects once every month.

const project = dependents["1455"];
const projects = new Set();

for (const dep of project.dependents) {
  projects.add(dep.project.gitlabId);
}
---

<div class="not-content box dependents">
  {[...projects].map(id => {
    return project.dependents.find(dep => dep.project.gitlabId === id);
  }).map((dep: any) => {
    const url = dep.project.web_url;
    const name = dep.project.name;
    const title = dep.project.name_with_namespace;
    const image = dep.project.avatar_url;

    return (
      <div class="project">
        <a href={url} class="avatar" title={title}>
          {image ? <img src={image} /> : name[0]}
        </a>
      </div>
    );
  })}
</div>

<style>
  .dependents {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }

  .avatar {
    --size: 60px;
    overflow: hidden;
    border-radius: 6px;
    color: black;
    font-size: var(--size);
    font-weight: bold;
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .avatar img {
    display: block;
    width: 100%;
  }
</style>
