---
import Default from '@astrojs/starlight/components/Sidebar.astro';
---

<style is:global>
#custom-sidebar [href] * {
  pointer-events: none;
}
</style>

<script>
  window?.addEventListener('click', (e) => {
    const target = e.target as HTMLElement;

    if(!target.hasAttribute('href')) return;

    const current = document?.querySelector('[aria-current="page"]');
    current?.removeAttribute('aria-current');

    const sidebar = document.querySelector('#custom-sidebar');
    if(!sidebar?.contains(target)) return;

    if(target?.tagName === 'A') {
      target?.setAttribute('aria-current', 'page');
    }
  });
</script>

<div id="custom-sidebar" transition:persist>
  <Default {...Astro.props}><slot /></Default>
</div>
