@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sl-color-bg-sidebar: transparent;

    --sl-content-width: 1000px;
    --sl-sidebar-width: 16rem;
    --sl-sidebar-pad-x: 0.8rem;

    --sl-text-xs: 0.8125rem;
    --sl-text-sm: 0.875rem;
    --sl-text-base: 1.125rem;
    --sl-text-lg: 1.125rem;
    --sl-text-xl: 1.25rem;
    --sl-text-2xl: 1.5rem;
    --sl-text-3xl: 1.65rem;
    --sl-text-4xl: 2.1875rem;
    --sl-text-5xl: 3rem;
    --sl-text-6xl: 4rem;

    font-family: "Lato", sans-serif;
    font-size: var(--sl-text-base);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

:root[data-theme="light"] {
    --sl-color-accent-low: #e8d2c1;
    --sl-color-accent: #9d5800;
    --sl-color-accent-high: #4a2907;
    --sl-color-white: #181818;
    --sl-color-gray-1: #272727;
    --sl-color-gray-2: #383838;
    --sl-color-gray-3: #585858;
    --sl-color-gray-4: #8b8b8b;
    --sl-color-gray-5: #c2c2c2;
    --sl-color-gray-6: #eeeeee;
    --sl-color-gray-7: #f6f6f6;
    --sl-color-black: #ffffff;
}

.sl-markdown-content p {
    max-width: 800px;
}

.sidebar .top-level .large {
    font-weight: normal;
}

.box {
    position: relative;
    width: 100%;
    height: auto;
    padding: 2rem;
    border: 1px solid #222;
}

.main-pane {
    z-index: 1;
    position: relative;
}

strong {
    font-weight: bolder;
    color: white;
}

.loading-indicator {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    border: 2px solid currentColor;
    border-bottom-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
