@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sl-content-width: 1000px;
  --sl-sidebar-width: 16rem;
  --sl-color-hairline: #8080804d;

  -webkit-tap-highlight-color: transparent;
}

.header {
  --sl-color-bg-nav: transparent;

  border-bottom: none;
  backdrop-filter: blur(8px);
}

.sidebar-pane {
  border-top-right-radius: 9px;
}

.sl-markdown-content p {
  max-width: 800px;
}

.box {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1rem;
  border: 1px solid var(--sl-color-hairline);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(40deg, transparent 42%, #e3c49217);
  z-index: -1;
}

tr {
  text-align: left;
}

table {
  display: table !important;
  width: 100%;
}

/* Loader animation */

.loading-indicator {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  border: 2px solid currentColor;
  border-bottom-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Slides count for Slider */

.not-content {
  counter-reset: content-counter;
}

.counted {
  position: relative;
}

.counted::after {
  counter-increment: content-counter;
  content: counter(content-counter);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4rem;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0.5;
  font-family: monospace;
}
