a-layout {
  height: calc(100vh - 11rem);
}

monaco-editor {
  display: block;
  width: 100%;
  position: relative;
  border: 1px solid #e0e0e0;
}

iframe {
  height: 100%;
  width: 100%;
  border: 1px solid #e0e0e0;
}

.content-panel:has(a-layout) {
  padding: 0rem;
}
