<div class="accordion-collapse-icon">
  <svg
    class="plus-icon"
    width="16px"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 20"
  >
    <path d="M8.6,20v-8.5H0V8.6h8.6V0h2.9v8.6H20v2.9h-8.6V20H8.6z"></path>
  </svg>
  <svg
    class="minus-icon"
    width="16px"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 20"
  >
    <path d="M0,11.5V8.6h20v2.9H0z"></path>
  </svg>
</div>
