---
import { getEntry } from "astro:content";
import { getCollection, render } from "astro:content";
import Layout from "../../layout.astro";

export async function getStaticPaths() {
  const allDocs = await getCollection("docs");
  return allDocs.map((doc) => {
    const [category, ...slug] = doc.id.split("/");
    return {
      params: { category, slug: slug.join("/") },
    };
  });
}

const { category, slug } = Astro.params;
const entry = await getEntry("docs", [category, slug].join("/"));

if (!entry) {
  throw new Error("404");
}

const { Content, headings, remarkPluginFrontmatter } = await render(entry);
---

<Layout>
  <div class="grid grid-cols-[auto_1fr]">
    <div class="sidebar">
      Test
    </div>

    <div>
      <Content />
    </div>
  </div>
</Layout>
